@model VisualizarCompromissosViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Compromissos";
}

<p>
    <a class="btn btn-primary px-4" href="/compromissos/cadastrar">
        <i class="bi bi-plus"></i>
        Cadastrar Novo/a
    </a>
</p>

<hr />

<div class="d-flex flex-wrap gap-2">
    @foreach (var item in Model.Registros)
    {
        <div class="col-12 col-md-3">
            <div class="card border-0" style="min-height: 238px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@item.Assunto</h5>
                    <p class="card-text mb-0"><span class="fw-semibold">Data de Ocorrência:</span> @item.Data.ToShortDateString()</p>
                    <p class="card-text mb-0"><span class="fw-semibold">Horário de Início:</span> @item.HoraInicio.ToString(@"hh\:mm")</p>
                    <p class="card-text mb-0"><span class="fw-semibold">Horário de Término:</span> @item.HoraTermino.ToString(@"hh\:mm")</p>
                    <p class="card-text mb-0"><span class="fw-semibold">Tipo de Compromisso:</span> @item.Tipo.ToString()</p>

                    @if (!string.IsNullOrWhiteSpace(item.Contato))
                    {
                        <p class="card-text"><span class="fw-semibold">Contato:</span> @item.Contato</p>
                    }

                    <span class="d-flex gap-1 justify-content-end mt-auto">
                        <a href="/compromissos/editar/@item.Id" class="btn btn-primary rounded-circle opcao-card">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="/compromissos/excluir/@item.Id" class="btn btn-danger rounded-circle opcao-card">
                            <i class="bi bi-trash"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    }
</div>