@using eAgenda.Dominio.ModuloDespesa

@model EditarDespesaViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Despesa";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <form asp-action="Editar" asp-route-id="@Model.Id">
                    <h3>Formulário de Edição</h3>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Descricao" class="control-label fs-5">Descrição:</label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Valor" class="control-label fs-5">Valor:</label>
                        <input asp-for="Valor" type="number" min="0" step="0.01" pattern="^\d+(?:\,\d{1,2})?$" class="form-control" />
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="DataOcorrencia" class="control-label fs-5">Data de Ocorrência:</label>
                        <input asp-for="DataOcorrencia" type="date" class="form-control" />
                        <span asp-validation-for="DataOcorrencia" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="FormaPagamento" class="control-label fs-5">Forma de Pagamento:</label>
                        <select asp-for="FormaPagamento" asp-items="@Html.GetEnumSelectList<FormaPagamento>()" class="form-select"></select>
                        <span asp-validation-for="FormaPagamento" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label class="control-label fs-5">Categorias:</label>
                        <div class="d-flex flex-wrap gap-5 mt-2">
                            @for (int i = 0; i < Model.CategoriasDisponiveis?.Count(); i++)
                            {
                                var categoria = Model.CategoriasDisponiveis.ElementAt(i);
                                <div class="form-check">
                                    <input class="form-check-input"
                                        type="checkbox"
                                        name="CategoriasSelecionadas"
                                        value="@categoria.Value"
                                        id="categoria_@categoria.Value"
                                        @(Model.CategoriasSelecionadas != null && Model.CategoriasSelecionadas.Contains(Guid.Parse(categoria.Value)) ? "checked" : "") />
                                    <label class="form-check-label" for="categoria_@categoria.Value">
                                        @categoria.Text
                                    </label>
                                </div>
                            }
                        </div>
                        <span asp-validation-for="CategoriasSelecionadas" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                        <a href="/despesas">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-primary rounded-3 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}